Claro.SISACT.WS/Web References/ConsultarPuntosWS/ConsultaPuntos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" targetNamespace="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.19.74.141:8901/ClaroClub_Services/Inquiry/ConsultaPuntos?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:complexType name="CursorSaldosType">
        <xsd:sequence>
          <xsd:element name="tipoCliente" type="xsd:string" />
          <xsd:element name="saldoTT" type="xsd:string" />
          <xsd:element name="saldoCC" type="xsd:string" />
          <xsd:element name="saldoIB" type="xsd:string" />
          <xsd:element name="solesTT" type="xsd:string" />
          <xsd:element name="valorSegmento" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CurCampanaType">
        <xsd:sequence>
          <xsd:element name="idCampana" type="xsd:int" />
          <xsd:element name="descripcion" type="xsd:string" />
          <xsd:element name="tipo" type="xsd:string" />
          <xsd:element name="valor" type="xsd:int" />
          <xsd:element name="fecha_inicio" type="xsd:date" />
          <xsd:element name="fecha_fin" type="xsd:date" />
          <xsd:element name="tipoCliente" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="consultarPuntosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="tipoDoc" type="xsd:string" />
            <xsd:element name="numDoc" type="xsd:string" />
            <xsd:element name="codigoCliente" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPuntosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cursorSaldos" type="tns:CursorSaldosType" />
            <xsd:element name="factorConversion" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="curCampana" type="tns:CurCampanaType" />
            <xsd:element name="codigoSegmento" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultarPuntosClaroClubRequestMessage">
    <WL5G3N0:part name="parameter" element="WL5G3N1:consultarPuntosRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarPuntosClaroClubResponseMessage">
    <WL5G3N0:part name="parameter" element="WL5G3N1:consultarPuntosResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="ebsConsultatPuntosClaroClubPortType">
    <WL5G3N0:operation name="consultarPuntosClaroClub">
      <WL5G3N0:input message="WL5G3N1:consultarPuntosClaroClubRequestMessage" />
      <WL5G3N0:output message="WL5G3N1:consultarPuntosClaroClubResponseMessage" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ebsConsultatPuntosClaroClubPortTypeSOAP11Binding" type="WL5G3N1:ebsConsultatPuntosClaroClubPortType">
    <WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultarPuntosClaroClub">
      <WL5G3N2:operation soapAction="urn:ebsConsultarPuntosClaroClub/consultarPuntosClaroClub" style="document" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" parts="parameter" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" parts="parameter" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ebsConsultaPuntosClaroClubService">
    <WL5G3N0:port name="ebsConsultaPuntosClaroClub" binding="WL5G3N1:ebsConsultatPuntosClaroClubPortTypeSOAP11Binding">
      <WL5G3N2:address location="http://limdeseaiv15.tim.com.pe:8901/ClaroClub_Services/Inquiry/ConsultaPuntos" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>