Claro.SISACT.WS/Web References/WSEnvioPorta/EnvioPortaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/ventas/envioportaws" xmlns:types="http://claro.com.pe/eai/ws/ventas/envioportaws/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="EnvioPortaWS" targetNamespace="http://claro.com.pe/eai/ws/ventas/envioportaws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/ventas/envioportaws" />
    <xsd:schema>
      <xsd:import schemaLocation="http://limdeseaiv28.tim.com.pe:8909/EnvioPortaWS/ebsEnvioPortaSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/ventas/envioportaws/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="realizarConsultaPreviaRequestMsg">
    <wsdl:part name="request" element="types:realizarConsultaPreviaRequest" />
  </wsdl:message>
  <wsdl:message name="realizarConsultaPreviaResponseMsg">
    <wsdl:part name="response" element="types:realizarConsultaPreviaResponse" />
  </wsdl:message>
  <wsdl:message name="realizarSolicitudPortabilidadRequestMsg">
    <wsdl:part name="request" element="types:realizarSolicitudPortabilidadRequest" />
  </wsdl:message>
  <wsdl:message name="realizarSolicitudPortabilidadResponseMsg">
    <wsdl:part name="response" element="types:realizarSolicitudPortabilidadResponse" />
  </wsdl:message>
  <wsdl:portType name="EnvioPortaWSPortType">
    <wsdl:operation name="realizarConsultaPrevia">
      <wsdl:input message="tns:realizarConsultaPreviaRequestMsg" />
      <wsdl:output message="tns:realizarConsultaPreviaResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="realizarSolicitudPortabilidad">
      <wsdl:input message="tns:realizarSolicitudPortabilidadRequestMsg" />
      <wsdl:output message="tns:realizarSolicitudPortabilidadResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvioPortaWSPortTypeSOAP11Binding" type="tns:EnvioPortaWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="realizarConsultaPrevia">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/ventas/envioportaws/realizarConsultaPrevia" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarSolicitudPortabilidad">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/ventas/envioportaws/realizarSolicitudPortabilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnvioPortaWSPortTypeSOAP12Binding" type="tns:EnvioPortaWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="realizarConsultaPrevia">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/ventas/envioportaws/realizarConsultaPrevia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarSolicitudPortabilidad">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/ventas/envioportaws/realizarSolicitudPortabilidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvioPortaWSService">
    <wsdl:port name="ebsEnvioPortaSB11" binding="tns:EnvioPortaWSPortTypeSOAP11Binding">
      <soap:address location="http://limdeseaiv28.tim.com.pe:8909/EnvioPortaWS/ebsEnvioPortaSB11" />
    </wsdl:port>
    <wsdl:port name="ebsEnvioPortaSB12" binding="tns:EnvioPortaWSPortTypeSOAP12Binding">
      <soap12:address location="http://limdeseaiv28.tim.com.pe:8909/EnvioPortaWS/ebsEnvioPortaSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>