Claro.SISACT.WS/Web References/WSConsultaDatosOAC/ConsultaDatosOACWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/message/ConsultaDatosOACWS/consultarDeudaCuenta/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N4="http://claro.com.pe/esb/ventas/ConsultaDatosOACWS/v1/" name="ConsultaDatosOACWS" targetNamespace="http://claro.com.pe/esb/ventas/ConsultaDatosOACWS/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <schema xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/ventas/ConsultaDatosOACWS/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:ns1="http://claro.com.pe/esb/message/ConsultaDatosOACWS/consultarDeudaCuenta/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://172.17.26.51:21000/DAT_ConsultaDatosOACWS/SRV_ConsultaDatosOACWS/Resources/WSDL/DAT_ConsultaDatosOACWS?SCHEMA%2FDAT_ConsultaDatosOACWS%2FSRV_ConsultaDatosOACWS%2FResources%2FXSD%2FconsultarDeudaCuenta" namespace="http://claro.com.pe/esb/message/ConsultaDatosOACWS/consultarDeudaCuenta/v1/" />
    </schema>
    <schema xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/ventas/ConsultaDatosOACWS/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:ns1="http://claro.com.pe/esb/message/ConsultaDatosOACWS/consultarDeudaCuenta/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://172.17.26.51:21000/DAT_ConsultaDatosOACWS/SRV_ConsultaDatosOACWS/Resources/WSDL/DAT_ConsultaDatosOACWS?SCHEMA%2FDAT_ConsultaDatosOACWS%2FSRV_ConsultaDatosOACWS%2FResources%2FXSD%2Fheaders" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
    </schema>
    <xsd:schema xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/ventas/ConsultaDatosOACWS/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:ns1="http://claro.com.pe/esb/message/ConsultaDatosOACWS/consultarDeudaCuenta/v1/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.51:21000/DAT_ConsultaDatosOACWS/SRV_ConsultaDatosOACWS/Resources/WSDL/DAT_ConsultaDatosOACWS?SCHEMA%2FDAT_ConsultaDatosOACWS%2FSRV_ConsultaDatosOACWS%2FResources%2FXSD%2FclaroFault" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultarDeudaCuentaRequestMessage">
    <WL5G3N0:part name="consultarDeudaCuentaRequest" element="WL5G3N1:consultarDeudaCuentaRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarDeudaCuentaResponseMessage">
    <WL5G3N0:part name="consultarDeudaCuentaResponse" element="WL5G3N1:consultarDeudaCuentaResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N2:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="requestHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="DeudaCuentaPort">
    <WL5G3N0:operation name="consultarDeudaCuenta">
      <WL5G3N0:input message="WL5G3N4:consultarDeudaCuentaRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:consultarDeudaCuentaResponseMessage" />
      <WL5G3N0:fault name="fault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="DeudaCuentaSOAP11Binding" type="WL5G3N4:DeudaCuentaPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultarDeudaCuenta">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/ventas/ConsultaDatosOACWS/v1/consultarDeudaCuenta" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="consultarDeudaCuentaRequest" />
        <WL5G3N5:header message="WL5G3N4:requestHeaderMessage" part="header" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="consultarDeudaCuentaResponse" />
        <WL5G3N5:header message="WL5G3N4:responseHeaderMessage" part="header" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N5:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ConsultaDatosOACWS">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="DeudaCuentaPort11" binding="WL5G3N4:DeudaCuentaSOAP11Binding">
      <WL5G3N5:address location="http://172.17.26.51:21000/DAT_ConsultaDatosOACWS/SRV_ConsultaDatosOACWS/Resources/WSDL/DAT_ConsultaDatosOACWS" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>