Claro.SISACT.WS/Web References/WSClienteProteccionMovil/ClienteProteccionMovilWSSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AuditRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="aplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="usrAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestOpcionalType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="requestOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseOpcionalType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="responseOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>