Claro.SISACT.WS/Web References/WSClienteProteccionMovil/ClienteProteccionMovilWSSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/clienteproteccionmovilws/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/clienteproteccionmovilws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv28.tim.com.pe:8909/ClienteProteccionMovilWS/ClienteProteccionMovilWSSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="consultarPrimaRequest">
    <xsd:annotation>
      <xsd:documentation>Datos requeridos para la consulta de prima</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:AuditRequestType" />
        <xsd:element name="accountType" type="xsd:string" />
        <xsd:element name="identificationType" type="IdentificationType" />
        <xsd:element name="clientProductSKU" type="xsd:string" />
        <xsd:element name="clientAssetSKU" type="xsd:string" />
        <xsd:element name="region" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:RequestOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarPrimaResponse">
    <xsd:annotation>
      <xsd:documentation>Datos devueltos de la consulta de prima</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:AuditResponseType" />
        <xsd:element name="quoteID" type="xsd:string" />
        <xsd:element name="nationalID" type="xsd:string" />
        <xsd:element name="products" type="Products" />
        <xsd:element name="result" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:ResponseOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Products">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="Product">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productName" type="xsd:string" />
            <xsd:element name="productDescription" type="xsd:string" />
            <xsd:element name="incidentType" type="xsd:string" />
            <xsd:element name="premium" type="xsd:integer" />
            <xsd:element name="deductible" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:sequence>
      <xsd:element name="idType" type="xsd:string" />
      <xsd:element name="idValue" type="xsd:string" />
      <xsd:element name="issuedCountryCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>