Claro.SISACT.WS/Web References/WSMetricaEvaluacion/RegistroMetricasVentaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N1="http://service.eai.ai.claro.com.pe/RegistroMetricasVentaWS" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="" name="RegistroMetricasVentaWS" targetNamespace="http://service.eai.ai.claro.com.pe/RegistroMetricasVentaWS" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.eai.ai.claro.com.pe/RegistroMetricasVentaWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="auditRequest">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="ipAplicacion" type="xsd:string" />
          <xsd:element name="aplicacion" type="xsd:string" />
          <xsd:element name="usrAplicacion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ventaComplexType">
        <xsd:sequence>
          <xsd:element name="cuerpoMetrica" type="ListaRequestMetrica" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListaRequestMetrica">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOpcinalCabecera" type="RequestOpcionalCabeceraComplexType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="detalle" type="ListaRequestDetalle" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListaRequestDetalle">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOpcionalDetalle" type="RequestOpcionalDetalleComplexType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestOpcionalCabeceraComplexType">
        <xsd:sequence>
          <xsd:element name="clave" type="xsd:string" />
          <xsd:element name="valor" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestOpcionalDetalleComplexType">
        <xsd:sequence>
          <xsd:element name="clave" type="xsd:string" />
          <xsd:element name="valor" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="registrarMetricaVentasRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="auditRequest" />
            <xsd:element name="idMetrica" type="xsd:string" />
            <xsd:element name="datosMetrica" type="ventaComplexType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="RegistrarMetricaVentas">
    <WL5G3N0:part name="registrarMetricaVentas" element="registrarMetricaVentasRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="RegistrarMetricaVentasResponseMsg" />
  <WL5G3N0:portType name="RegistroMetricasVentasWSPortType">
    <WL5G3N0:operation name="registrarMetricaVentas">
      <WL5G3N0:input message="WL5G3N1:RegistrarMetricaVentas" />
      <WL5G3N0:output message="WL5G3N1:RegistrarMetricaVentasResponseMsg" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="RegistroMetricasVentasSOAP12Binding" type="WL5G3N1:RegistroMetricasVentasWSPortType">
    <WL5G3N2:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
    <WL5G3N0:operation name="registrarMetricaVentas">
      <WL5G3N2:operation soapAction="http://service.eai.ai.claro.com.pe/registrarMetricaVentas/registrarMetricaVentas" style="document" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:binding name="RegistroMetricasVentasSOAP11Binding" type="WL5G3N1:RegistroMetricasVentasWSPortType">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="registrarMetricaVentas">
      <WL5G3N3:operation soapAction="http://service.eai.ai.claro.com.pe/registrarMetricaVentas/registrarMetricaVentas" style="document" />
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="RegistroMetricasVentasWSService">
    <WL5G3N0:port name="RegistroMetricasVentasPortSB12" binding="WL5G3N1:RegistroMetricasVentasSOAP12Binding">
      <WL5G3N2:address location="http://limcltocsv02.tim.com.pe:8909/RegistroMetricaVentaWS/RegistroMetricasVentasPortSB12" />
    </WL5G3N0:port>
    <WL5G3N0:port name="RegistroMetricasVentasPortSB11" binding="WL5G3N1:RegistroMetricasVentasSOAP11Binding">
      <WL5G3N3:address location="http://limcltocsv02.tim.com.pe:8909/RegistroMetricaVentaWS/RegistroMetricasVentasPortSB11" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>