Claro.SISACT.WS/Web References/FlexibilizaDeudaWS/BSS_FlexibilizaDeuda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/data/venta/consultaDeuda/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N4="http://claro.com.pe/esb/venta/flexibilizaDeuda/v1/" name="BSS_FlexibilizaDeuda" targetNamespace="http://claro.com.pe/esb/venta/flexibilizaDeuda/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/venta/flexibilizaDeuda/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://claro.com.pe/esb/message/lineastecnologiacliente/consultarLineasPrePost/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_FlexibilizaDeuda/SRV_FlexibilizaDeuda/Service/Mediation/MED_FlexibilizaDeudaPipeline?SCHEMA%2FBSS_FlexibilizaDeuda%2FSRV_FlexibilizaDeuda%2FResources%2FXSD%2FConsultaDeuda_v1" namespace="http://claro.com.pe/esb/data/venta/consultaDeuda/v1/" />
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_FlexibilizaDeuda/SRV_FlexibilizaDeuda/Service/Mediation/MED_FlexibilizaDeudaPipeline?SCHEMA%2FBSS_FlexibilizaDeuda%2FSRV_FlexibilizaDeuda%2FResources%2FXSD%2Fheaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_FlexibilizaDeuda/SRV_FlexibilizaDeuda/Service/Mediation/MED_FlexibilizaDeudaPipeline?SCHEMA%2FBSS_FlexibilizaDeuda%2FSRV_FlexibilizaDeuda%2FResources%2FXSD%2FclaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultaDeudaRequestMessage">
    <WL5G3N0:part name="consultaDeudaRequest" element="WL5G3N1:ConsultaDeudaRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultaDeudaResponseMessage">
    <WL5G3N0:part name="consultaDeudaResponse" element="WL5G3N1:ConsultaDeudaResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N2:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="requestHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="BSS_FlexibilizaDeudaPort">
    <WL5G3N0:operation name="consultaDeuda">
      <WL5G3N0:input message="WL5G3N4:consultaDeudaRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:consultaDeudaResponseMessage" />
      <WL5G3N0:fault name="fault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BSS_FlexibilizaDeudaSOAP11Binding" type="WL5G3N4:BSS_FlexibilizaDeudaPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultaDeuda">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/data/venta/consultaDeuda/v1/" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="consultaDeudaRequest" />
        <WL5G3N5:header message="WL5G3N4:requestHeaderMessage" part="header" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="consultaDeudaResponse" />
        <WL5G3N5:header message="WL5G3N4:responseHeaderMessage" part="header" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N5:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BSS_FlexibilizaDeudaSOAP11BindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="BSS_FlexibilizaDeudaSOAP11BindingQSPort" binding="WL5G3N4:BSS_FlexibilizaDeudaSOAP11Binding">
      <WL5G3N5:address location="http://172.17.26.51:21000/BSS_FlexibilizaDeuda/SRV_FlexibilizaDeuda/Service/Mediation/MED_FlexibilizaDeudaPipeline" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>