Claro.SISACT.WS/Web References/ConsultaDeudaClienteWS/ConsultaDeudaClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews" xmlns:types="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ConsultaDeudaClienteWS" targetNamespace="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews" />
    <xsd:schema>
      <xsd:import schemaLocation="http://limdeseaiv25.tim.com.pe:8903/ConsultaDeudaClienteWS/ebsConsultaDeudaClienteSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultaDeudaFecVencRequestMsg">
    <wsdl:part name="request" element="types:consultaDeudaFecVencRequest" />
  </wsdl:message>
  <wsdl:message name="consultaDeudaFecVencResponseMsg">
    <wsdl:part name="response" element="types:consultaDeudaFecVencResponse" />
  </wsdl:message>
  <wsdl:message name="consultaDeudaRequestMsg">
    <wsdl:part name="request" element="types:consultaDeudaRequest" />
  </wsdl:message>
  <wsdl:message name="consultaDeudaResponseMsg">
    <wsdl:part name="response" element="types:consultaDeudaResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaDeudaClienteWSPortType">
    <wsdl:operation name="consultaDeudaFecVenc">
      <wsdl:input message="tns:consultaDeudaFecVencRequestMsg" />
      <wsdl:output message="tns:consultaDeudaFecVencResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="consultaDeudaXProducto">
      <wsdl:input message="tns:consultaDeudaRequestMsg" />
      <wsdl:output message="tns:consultaDeudaResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaDeudaClienteWSPortTypeSOAP11Binding" type="tns:ConsultaDeudaClienteWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaDeudaFecVenc">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews/consultaDeudaFecVenc" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDeudaXProducto">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews/consultaDeudaXProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaDeudaClienteWSPortTypeSOAP12Binding" type="tns:ConsultaDeudaClienteWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaDeudaFecVenc">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews/consultaDeudaFecVenc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDeudaXProducto">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/operacionales/consultadeudaclientews/consultaDeudaXProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaDeudaClienteWSService">
    <wsdl:port name="ebsConsultaDeudaClienteSB11" binding="tns:ConsultaDeudaClienteWSPortTypeSOAP11Binding">
      <soap:address location="http://limdeseaiv25.tim.com.pe:8903/ConsultaDeudaClienteWS/ebsConsultaDeudaClienteSB11" />
    </wsdl:port>
    <wsdl:port name="ebsConsultaDeudaClienteSB12" binding="tns:ConsultaDeudaClienteWSPortTypeSOAP12Binding">
      <soap12:address location="http://limdeseaiv25.tim.com.pe:8903/ConsultaDeudaClienteWS/ebsConsultaDeudaClienteSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>