Claro.SISACT.WS/Web References/WebReferenceEvaluarReglas/obtenerCostoXMaterial_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:opc="http://claro.com.pe/esb/data/generico/opcionales/v1/" xmlns:tns="http://claro.com.pe/esb/data/ventas/evaluaReglas/sec/v1/obtenerCostoXMaterial/" xmlns:base="http://claro.com.pe/esb/data/generico/responseStatus/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/ventas/evaluaReglas/sec/v1/obtenerCostoXMaterial/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_EvaluaReglas/SRV_EvaluaReglas/Service/Composition/COM_EvaluaReglasProxyService?SCHEMA%2FBSS_EvaluaReglas%2FSRV_EvaluaReglas%2FResources%2FXSD%2FResponseStatus_v1" namespace="http://claro.com.pe/esb/data/generico/responseStatus/v1/" />
  <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_EvaluaReglas/SRV_EvaluaReglas/Service/Composition/COM_EvaluaReglasProxyService?SCHEMA%2FBSS_EvaluaReglas%2FSRV_EvaluaReglas%2FResources%2FXSD%2FOpcionales_v1" namespace="http://claro.com.pe/esb/data/generico/opcionales/v1/" />
  <xsd:element name="obtenerCostoXMaterialRequest" type="tns:obtenerCostoXMaterialRequestType" />
  <xsd:element name="obtenerCostoXMaterialResponse" type="tns:obtenerCostoXMaterialResponseType" />
  <xsd:complexType name="obtenerCostoXMaterialRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResquestOpcional" type="opc:RequestOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obtenerCostoXMaterialResponseType">
    <xsd:sequence>
      <xsd:element name="responseStatus" type="base:ResponseStatus" />
      <xsd:element name="responseData" type="tns:ResponseDataObtenerCostoXMaterial" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseDataObtenerCostoXMaterial">
    <xsd:sequence>
      <xsd:element name="listaEquipoGama" type="tns:EquipoGamaType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="opc:ResponseOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EquipoGamaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="detalleEquipoGama" type="tns:DetalleEquipoGama" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleEquipoGama">
    <xsd:sequence>
      <xsd:element name="codigoEquipo" type="xsd:string" />
      <xsd:element name="costoEquipo" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>