Claro.SISACT.WS/Web References/WebReferenceEvaluarReglas/obtenerEvaluacionProactiva_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:opc="http://claro.com.pe/esb/data/generico/opcionales/v1/" xmlns:tns="http://claro.com.pe/esb/data/ventas/evaluaReglas/sec/v1/obtenerEvaluacionProactiva/" xmlns:base="http://claro.com.pe/esb/data/generico/responseStatus/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/ventas/evaluaReglas/sec/v1/obtenerEvaluacionProactiva/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_EvaluaReglas/SRV_EvaluaReglas/Service/Composition/COM_EvaluaReglasProxyService?SCHEMA%2FBSS_EvaluaReglas%2FSRV_EvaluaReglas%2FResources%2FXSD%2FResponseStatus_v1" namespace="http://claro.com.pe/esb/data/generico/responseStatus/v1/" />
  <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_EvaluaReglas/SRV_EvaluaReglas/Service/Composition/COM_EvaluaReglasProxyService?SCHEMA%2FBSS_EvaluaReglas%2FSRV_EvaluaReglas%2FResources%2FXSD%2FOpcionales_v1" namespace="http://claro.com.pe/esb/data/generico/opcionales/v1/" />
  <xsd:element name="obtenerEvaluacionProactivaRequest" type="tns:obtenerEvaluacionProactivaRequestType" />
  <xsd:element name="obtenerEvaluacionProactivaResponse" type="tns:obtenerEvaluacionProactivaResponseType" />
  <xsd:complexType name="obtenerEvaluacionProactivaRequestType">
    <xsd:sequence>
      <xsd:element name="origen" type="xsd:string" />
      <xsd:element name="datosPlan" type="tns:DatosPlanType" />
      <xsd:element name="solicitud" type="tns:Solicitud" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosPlanType">
    <xsd:sequence>
      <xsd:element name="modalidad_venta" type="xsd:string" />
      <xsd:element name="plan_desc" type="xsd:string" />
      <xsd:element name="tipo_flujo" type="xsd:string" />
      <xsd:element name="tipo_documento" type="xsd:string" />
      <xsd:element name="tipo_oferta" type="xsd:string" />
      <xsd:element name="tipo_operacion" type="xsd:integer" />
      <xsd:element name="tipo_producto" type="xsd:string" />
      <xsd:element name="codigoEspecial" type="xsd:string" />
      <xsd:element name="campana" type="xsd:string" />
      <xsd:element name="codigoplazo" type="xsd:string" />
      <xsd:element name="combo" type="xsd:string" />
      <xsd:element name="familia" type="xsd:string" />
      <xsd:element name="oficina" type="xsd:string" />
      <xsd:element name="tipo_venta" type="xsd:string" />
      <xsd:element name="codigoMaterial" type="xsd:string" />
      <xsd:element name="codigoOperacion" type="xsd:decimal" />
      <xsd:element name="servicioAdiResq" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Solicitud">
    <xsd:sequence>
      <xsd:element name="buroConsultado" type="xsd:string" />
      <xsd:element name="tipoDeProducto" type="xsd:string" />
      <xsd:element name="flagDeLicitacion" type="xsd:string" />
      <xsd:element name="flagDeLicitacionSpecified" type="xsd:string" />
      <xsd:element name="tipoDeBolsa" type="xsd:string" />
      <xsd:element name="tipoDeOperacion" type="xsd:string" />
      <xsd:element name="totalPlanes" type="xsd:integer" />
      <xsd:element name="transaccion" type="xsd:string" />
      <xsd:element name="fechaEjecucion" type="xsd:dateTime" />
      <xsd:element name="horaEjecucion" type="xsd:int" />
      <xsd:element name="tipoDeDespacho" type="xsd:string" />
      <xsd:element name="cliente" type="tns:Cliente" />
      <xsd:element name="equipo" type="tns:Equipos" />
      <xsd:element name="cargoFijo" type="tns:CargoFijo" />
      <xsd:element name="oferta" type="tns:Oferta" />
      <xsd:element name="puntoDeVenta" type="tns:PuntoDeVenta" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResquestOpcional" type="opc:RequestOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cliente">
    <xsd:sequence>
      <xsd:element name="creditscore" type="xsd:double" />
      <xsd:element name="facturacionPromedioClaro" type="xsd:double" />
      <xsd:element name="limiteDeCreditoDisponible" type="xsd:double" />
      <xsd:element name="facturacionPromedioProducto" type="xsd:double" />
      <xsd:element name="comportamientoDePago" type="xsd:double" />
      <xsd:element name="cantidadDeLineasActivas" type="xsd:double" />
      <xsd:element name="cantidadDePlanesPorProducto" type="xsd:int" />
      <xsd:element name="edad" type="xsd:integer" />
      <xsd:element name="sexo" type="xsd:string" />
      <xsd:element name="tipoCliente" type="xsd:string" />
      <xsd:element name="riesgo" type="xsd:string" />
      <xsd:element name="tiempoDePermanencia" type="xsd:int" />
      <xsd:element name="deuda" type="xsd:string" />
      <xsd:element name="cantidadMaximaCuotasPendientesSistema" type="xsd:int" />
      <xsd:element name="cantidadMaximaCuotasPendientesUltimasVentas" type="xsd:int" />
      <xsd:element name="cantidadPlanesCuotasPendientesSistema" type="xsd:int" />
      <xsd:element name="cantidadPlanesCuotasPendientesUltimasVentas" type="xsd:int" />
      <xsd:element name="montoPendienteCuotasSistema" type="xsd:double" />
      <xsd:element name="montoPendienteCuotasUltimasVentas" type="xsd:double" />
      <xsd:element name="documento" type="tns:Documento" />
      <xsd:element name="adicional" type="tns:Adicional" />
      <xsd:element name="direccion" type="tns:Direccion" />
      <xsd:element name="representanteLega" type="tns:RepresentanteLega" />
      <xsd:element name="contribuyentes" type="tns:ListaContribuyentes" />
      <xsd:element name="montoDeudaVencida" type="xsd:double" />
      <xsd:element name="montoDeudaCastigada" type="xsd:double" />
      <xsd:element name="montoDisputa" type="xsd:double" />
      <xsd:element name="cantidadMontoDisputa" type="xsd:int" />
      <xsd:element name="antiguedadMontoDisputa" type="xsd:int" />
      <xsd:element name="montoTotalDeuda" type="xsd:double" />
      <xsd:element name="antiguedadDeuda" type="xsd:int" />
      <xsd:element name="segmento" type="xsd:string" />
      <xsd:element name="flagWhitelist" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaContribuyentes">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contribuyente" type="tns:Contribuyente" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contribuyente">
    <xsd:sequence>
      <xsd:element name="autorizacionImpresion" type="xsd:string" />
      <xsd:element name="CIU" type="xsd:string" />
      <xsd:element name="cantidadMesesInicioActividades" type="xsd:int" />
      <xsd:element name="cantidadTrabajadores" type="xsd:int" />
      <xsd:element name="condicion" type="xsd:string" />
      <xsd:element name="estado" type="xsd:string" />
      <xsd:element name="fechaInicioActividades" type="xsd:dateTime" />
      <xsd:element name="nombreComercial" type="xsd:string" />
      <xsd:element name="sistemaEmisionElectronica" type="xsd:string" />
      <xsd:element name="tipo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tipoSiNo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SI" />
      <xsd:enumeration value="NO" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Documento">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="numero" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adicional">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="precio" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Equipos">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="equipo" type="tns:Equipo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Equipo">
    <xsd:sequence>
      <xsd:element name="costo_equipo" type="xsd:double" />
      <xsd:element name="formaDePago" type="xsd:string" />
      <xsd:element name="cuotas" type="tns:Cuotas" />
      <xsd:element name="gama" type="xsd:string" />
      <xsd:element name="modelo" type="xsd:string" />
      <xsd:element name="precioDeVenta" type="xsd:decimal" />
      <xsd:element name="tipodeDeco" type="xsd:string" />
      <xsd:element name="tipoOperacionKit" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cuotas">
    <xsd:sequence>
      <xsd:element name="numeroCuotas" type="xsd:integer" />
      <xsd:element name="montoDeCuota" type="xsd:decimal" />
      <xsd:element name="porcentajecuotaInicial" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CargoFijo">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="l_cargoFijo" type="tns:l_cargoFijo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="l_cargoFijo">
    <xsd:sequence>
      <xsd:element name="cargoFijo" type="xsd:double" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="montoCFSEC" type="xsd:double" />
      <xsd:element name="montoDeCuota" type="xsd:double" />
      <xsd:element name="precioDeVenta" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oferta">
    <xsd:sequence>
      <xsd:element name="modalidadCedente" type="xsd:string" />
      <xsd:element name="operadorCedente" type="xsd:string" />
      <xsd:element name="casoEpecial" type="xsd:string" />
      <xsd:element name="controlDeConsumo" type="xsd:string" />
      <xsd:element name="kitDeInstalacion" type="xsd:string" />
      <xsd:element name="plazoDeAcuerdo" type="xsd:string" />
      <xsd:element name="productoComercial" type="xsd:string" />
      <xsd:element name="proteccionMovil" type="xsd:string" />
      <xsd:element name="segmentoDeOferta" type="xsd:string" />
      <xsd:element name="tipoDeOperacionEmpresa" type="xsd:string" />
      <xsd:element name="combo" type="xsd:string" />
      <xsd:element name="mesOperadorCedente" type="xsd:int" />
      <xsd:element name="cantidadLineasSEC" type="xsd:int" />
      <xsd:element name="montoCFSEC" type="xsd:double" />
      <xsd:element name="campana" type="tns:Campana" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="planActual" type="tns:PlanActual" />
      <xsd:element name="planSolicitado" type="tns:PlanSolicitado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Campana">
    <xsd:sequence>
      <xsd:element name="tipo_campana" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlanActual">
    <xsd:sequence>
      <xsd:element name="cargoFijo" type="xsd:double" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="grupos" type="xsd:string" />
      <xsd:element name="mesesParaCubrirApadece" type="xsd:int" />
      <xsd:element name="plazoDeAcuerdo" type="xsd:double" />
      <xsd:element name="tiempoPermanencia" type="xsd:int" />
      <xsd:element name="cantidadCuotasPendientes" type="xsd:int" />
      <xsd:element name="montoPendienteCuotas" type="xsd:double" />
      <xsd:element name="motivoActivacionLineaRenovar" type="xsd:string" />
      <xsd:element name="modalidadCedenteLineaRenovar" type="xsd:string" />
      <xsd:element name="montoCuotaActualRenovacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlanSolicitado">
    <xsd:sequence>
      <xsd:element name="cargoFijo" type="xsd:double" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="paquete" type="xsd:double" />
      <xsd:element name="servicio" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PuntoDeVenta">
    <xsd:sequence>
      <xsd:element name="canal" type="xsd:string" />
      <xsd:element name="codigo" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="direccion" type="tns:Direccion" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RepresentanteLega">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="representanteLegal" type="tns:RepresentanteLegal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RepresentanteLegal">
    <xsd:sequence>
      <xsd:element name="documento" type="tns:Documento" />
      <xsd:element name="riesgo" type="xsd:string" />
      <xsd:element name="cantidadMesesNombramiento" type="xsd:int" />
      <xsd:element name="cargo" type="xsd:string" />
      <xsd:element name="fechaNombramiento" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Direccion">
    <xsd:sequence>
      <xsd:element name="codigoPlano" type="xsd:string" />
      <xsd:element name="departamento" type="xsd:string" />
      <xsd:element name="distrito" type="xsd:string" />
      <xsd:element name="provincia" type="xsd:string" />
      <xsd:element name="region" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obtenerEvaluacionProactivaResponseType">
    <xsd:sequence>
      <xsd:element name="responseStatus" type="base:ResponseStatus" />
      <xsd:element name="responseData" type="tns:ResponseDataConsultarDatosPlanes" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseDataConsultarDatosPlanes">
    <xsd:sequence>
      <xsd:element name="listaPlanes" type="tns:ListaPlanesType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="opc:ResponseOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaPlanesType">
    <xsd:sequence>
      <xsd:element name="costoEquipo" type="xsd:double" />
      <xsd:element name="totalPlanes" type="xsd:integer" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="listaPlanesProactivos" type="tns:ListaPlanesProactivosType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaPlanesProactivosType">
    <xsd:sequence>
      <xsd:element name="cantidadDeLineasRenovaciones" type="xsd:string" />
      <xsd:element name="cantidadDeLineasAdicionalesRUC" type="xsd:integer" />
      <xsd:element name="cantidadDeLineasMaximas" type="xsd:integer" />
      <xsd:element name="capacidadDePago" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element name="factorDeEndeudamientoCliente" type="xsd:double" />
      <xsd:element name="factorDeRenovacionCliente" type="xsd:double" />
      <xsd:element name="montoCFParaRUC" type="xsd:double" />
      <xsd:element name="montoDeGarantia" type="xsd:double" />
      <xsd:element name="cuotas" type="tns:OpcionCuota" />
      <xsd:element name="precioDeVentaTotalEquipos" type="xsd:double" />
      <xsd:element name="procesoIDValidator" type="xsd:string" />
      <xsd:element name="restriccion" type="xsd:string" />
      <xsd:element name="riesgoOferta" type="xsd:string" />
      <xsd:element name="riesgoTotalEquipo" type="xsd:int" />
      <xsd:element name="tipoDeAutonomiaCargoFijo" type="xsd:string" />
      <xsd:element name="tipodecobro" type="xsd:string" />
      <xsd:element name="montoRA" type="xsd:double" />
      <xsd:element name="precioVenta" type="xsd:double" />
      <xsd:element name="cargoFijo" type="xsd:double" />
      <xsd:element name="cantidad" type="xsd:string" />
      <xsd:element name="totalPagar" type="xsd:double" />
      <xsd:element name="codigoPlan" type="xsd:string" />
      <xsd:element name="servicioAdiResp" type="xsd:string" />
      <xsd:element name="codigoProducto" type="xsd:string" />
      <xsd:element name="descripcionPrecio" type="xsd:string" />
      <xsd:element name="riesgoEnClaro" type="xsd:string" />
      <xsd:element name="comportamientoConsolidado" type="xsd:int" />
      <xsd:element name="comportamientoDePagoC1" type="xsd:int" />
      <xsd:element name="mostrarMotivoDeRestriccion" type="xsd:string" />
      <xsd:element name="motivoDeRestriccion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpcionCuota">
    <xsd:sequence>
      <xsd:element name="cantidad" type="xsd:integer" />
      <xsd:element name="porcentajeInicial" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosPlanesPrecioType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="detallePrecios" type="tns:DetallePrecios" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetallePrecios">
    <xsd:sequence>
      <xsd:element name="descripcionPlan" type="xsd:string" />
      <xsd:element name="cargoFijo" type="xsd:double" />
      <xsd:element name="codigoPlan" type="xsd:string" />
      <xsd:element name="codigoMaterial" type="xsd:string" />
      <xsd:element name="codigoProducto" type="xsd:string" />
      <xsd:element name="descripcionPrecio" type="xsd:string" />
      <xsd:element name="precio" type="xsd:decimal" />
      <xsd:element name="descuentoSeguro" type="xsd:string" />
      <xsd:element name="fecha" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
