Claro.SISACT.WS/Web References/EbsCreditosWS/ebsCreditosSB12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://claro.com.pe/eai/ebs/ventas/ebscreditosws/ws/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ebs/ventas/ebscreditosws/ws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ConsultarDatosDCRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="auditRequestType" type="tns:AuditRequestType" />
      <xsd:element minOccurs="0" name="tipoDocumento" type="xsd:string" />
      <xsd:element minOccurs="0" name="nroDocumento" type="xsd:string" />
      <xsd:element minOccurs="0" name="strRazonSocial" type="xsd:string" />
      <xsd:element minOccurs="0" name="strNombres" type="xsd:string" />
      <xsd:element minOccurs="0" name="strApePaterno" type="xsd:string" />
      <xsd:element minOccurs="0" name="strApeMaterno" type="xsd:string" />
      <xsd:element minOccurs="0" name="oficina" type="xsd:string" />
      <xsd:element minOccurs="0" name="objUsuario" type="tns:BEUsuario" />
      <xsd:element minOccurs="0" name="flagConsulta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="tns:ListaCamposOpcionales" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="0" name="ipAplicacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreAplicacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BEUsuario">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idUsuario" type="xsd:long" />
      <xsd:element minOccurs="0" name="idUsuarioSisact" type="xsd:long" />
      <xsd:element minOccurs="0" name="idVendedorSap" type="xsd:string" />
      <xsd:element minOccurs="0" name="idCuentaRed" type="xsd:string" />
      <xsd:element minOccurs="0" name="estadoAcceso" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellido_Pat" type="xsd:string" />
      <xsd:element minOccurs="0" name="apellido_Mat" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombreCompleto" type="xsd:string" />
      <xsd:element minOccurs="0" name="cadenaPerfil" type="xsd:string" />
      <xsd:element minOccurs="0" name="cadenaOpcionesPagina" type="xsd:string" />
      <xsd:element minOccurs="0" name="perfil149" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="login" type="xsd:string" />
      <xsd:element minOccurs="0" name="idArea" type="xsd:string" />
      <xsd:element minOccurs="0" name="area" type="xsd:string" />
      <xsd:element minOccurs="0" name="host" type="xsd:string" />
      <xsd:element minOccurs="0" name="oficinaVenta" type="xsd:string" />
      <xsd:element minOccurs="0" name="oficinaVentaDescripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="canalVenta" type="xsd:string" />
      <xsd:element minOccurs="0" name="canalVentaDescripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="terminal" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoOficina" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="0" name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BEItemGenerico">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigo2" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigo3" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigo4" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcion2" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipo" type="xsd:string" />
      <xsd:element minOccurs="0" name="monto" type="xsd:double" />
      <xsd:element minOccurs="0" name="valor" type="xsd:string" />
      <xsd:element minOccurs="0" name="cantidad" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDatosDCResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="auditResponseType" type="tns:AuditResponseType" />
      <xsd:element minOccurs="0" name="idFila" type="xsd:string" />
      <xsd:element minOccurs="0" name="cadena" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="listaCadena" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="lista" type="tns:BEItemGenerico" />
      <xsd:element minOccurs="0" name="objeto" type="xsd:string" />
      <xsd:element minOccurs="0" name="boleano" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="tipoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="0" name="estadoSession" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="error" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="codigoError" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcionError" type="xsd:string" />
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipo" type="xsd:string" />
      <xsd:element minOccurs="0" name="buroConsultado" type="xsd:string" />
      <xsd:element minOccurs="0" name="flagConsulta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="tns:ListaCamposOpcionales" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaCamposOpcionales">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="objetoResponseOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarDatosDCRequest" type="tns:ConsultarDatosDCRequest" />
  <xsd:element name="consultarDatosDCResponse" type="tns:ConsultarDatosDCResponse" />
</xsd:schema>