Claro.SISACT.WS/Web References/WSConsultarDeudaCuentaBRMS/MED_DAT_ConsultarDatosBRMSOACPipelineProxyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/message/test/consultarDeudaCuentaBRMS_db/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:WL5G3N4="http://claro.com.pe/esb/venta/dat_consultadatosbrmsoac/v1/" targetNamespace="http://claro.com.pe/esb/venta/dat_consultadatosbrmsoac/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:header="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:tns="http://claro.com.pe/esb/venta/dat_consultadatosbrmsoac/v1/" xmlns:types="http://claro.com.pe/esb/message/test/consultarDeudaCuentaBRMS_db/v1/" xmlns:fault="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/venta/dat_consultadatosbrmsoac/v1/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.54:21000/DAT_ConsultaDatosBRMSOAC/SRV_Consulta/Service/Mediation/MED_DAT_ConsultarDatosBRMSOACPipelineProxyService?SCHEMA%2FDAT_ConsultaDatosBRMSOAC%2FSRV_Consulta%2FResources%2FXSD%2FConsultar_v1" namespace="http://claro.com.pe/esb/message/test/consultarDeudaCuentaBRMS_db/v1/" />
      <xsd:import schemaLocation="http://172.17.26.54:21000/DAT_ConsultaDatosBRMSOAC/SRV_Consulta/Service/Mediation/MED_DAT_ConsultarDatosBRMSOACPipelineProxyService?SCHEMA%2FDAT_ConsultaDatosBRMSOAC%2FSRV_Consulta%2FResources%2FXSD%2FClaroFault_v2" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" />
      <xsd:import schemaLocation="http://172.17.26.54:21000/DAT_ConsultaDatosBRMSOAC/SRV_Consulta/Service/Mediation/MED_DAT_ConsultarDatosBRMSOACPipelineProxyService?SCHEMA%2FDAT_ConsultaDatosBRMSOAC%2FSRV_Consulta%2FResources%2FXSD%2FClaroGenericHeaders_v2" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultarDeudaCuentaBRMS_dbRequestMessage">
    <WL5G3N0:part name="consultarDeudaCuentaBRMS_dbRequest" element="WL5G3N1:consultarDeudaCuentaBRMS_dbRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarDeudaCuentaBRMS_dbResponseMessage">
    <WL5G3N0:part name="consultarDeudaCuentaBRMS_dbResponse" element="WL5G3N1:consultarDeudaCuentaBRMS_dbResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N2:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerRequest" element="WL5G3N3:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResponse" element="WL5G3N3:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="DAT_ConsultaDatosBRMSOACPort">
    <WL5G3N0:operation name="consultarDeudaCuentaBRMS_db">
      <WL5G3N0:input message="WL5G3N4:consultarDeudaCuentaBRMS_dbRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:consultarDeudaCuentaBRMS_dbResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="DAT_ConsultaDatosBRMSOACSOAP11Binding" type="WL5G3N4:DAT_ConsultaDatosBRMSOACPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultarDeudaCuentaBRMS_db">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/venta/dat_consultadatosbrmsoac/v1/consultarDeudaCuentaBRMS_db" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="consultarDeudaCuentaBRMS_dbRequest" />
        <WL5G3N5:header message="WL5G3N4:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="consultarDeudaCuentaBRMS_dbResponse" />
        <WL5G3N5:header message="WL5G3N4:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N5:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="DAT_ConsultaDatosBRMSOACSOAP11BindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="DAT_ConsultaDatosBRMSOACSOAP11BindingQSPort" binding="WL5G3N4:DAT_ConsultaDatosBRMSOACSOAP11Binding">
      <WL5G3N5:address location="http://172.17.26.54:21000/DAT_ConsultaDatosBRMSOAC/SRV_Consulta/Service/Mediation/MED_DAT_ConsultarDatosBRMSOACPipelineProxyService" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>