Claro.SISACT.WS/Web References/WSPuntosClaroClub/PuntosClaroClub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/eai/claroclubservices/gestionarpuntosclaroclub" targetNamespace="http://claro.com.pe/eai/claroclubservices/gestionarpuntosclaroclub" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://claro.com.pe/eai/claroclubservices/gestionarpuntosclaroclub" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/claroclubservices/gestionarpuntosclaroclub" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.19.74.94:8909/ClaroClub_Services/Transaction/PuntosClaroClub?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:element name="bloquearPuntosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="tipoDoc" type="xsd:string" />
            <xsd:element name="numDoc" type="xsd:string" />
            <xsd:element name="tipoClie" type="xsd:string" />
            <xsd:element name="usuario" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bloquearPuntosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element name="tipoDoc2" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="liberarPuntosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="tipoDoc" type="xsd:string" />
            <xsd:element name="numDoc" type="xsd:string" />
            <xsd:element name="tipoClie" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="liberarPuntosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="liberarPuntosRequestMessage">
    <WL5G3N0:part name="parameter" element="WL5G3N1:liberarPuntosRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="liberarPuntosResponseMessage">
    <WL5G3N0:part name="parameter" element="WL5G3N1:liberarPuntosResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="bloquearPuntosRequestMessage">
    <WL5G3N0:part name="parameter" element="WL5G3N1:bloquearPuntosRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="bloquearPuntosResponseMessage">
    <WL5G3N0:part name="parameter" element="WL5G3N1:bloquearPuntosResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="ebsGestionarPuntosPortType">
    <WL5G3N0:operation name="liberarPuntos">
      <WL5G3N0:input message="WL5G3N1:liberarPuntosRequestMessage" />
      <WL5G3N0:output message="WL5G3N1:liberarPuntosResponseMessage" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="bloquearPuntos">
      <WL5G3N0:input message="WL5G3N1:bloquearPuntosRequestMessage" />
      <WL5G3N0:output message="WL5G3N1:bloquearPuntosResponseMessage" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ebsGestionarPuntosPortTypeSOAP11Binding" type="WL5G3N1:ebsGestionarPuntosPortType">
    <WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="liberarPuntos">
      <WL5G3N2:operation soapAction="urn:ebsGestionarPuntosClaroClub/liberarPuntos" style="document" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" parts="parameter" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" parts="parameter" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="bloquearPuntos">
      <WL5G3N2:operation soapAction="urn:ebsGestionarPuntosClaroClub/bloquearPuntos" style="document" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" parts="parameter" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" parts="parameter" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ebsGestionarPuntosService">
    <WL5G3N0:port name="ebsGestionarPuntos" binding="WL5G3N1:ebsGestionarPuntosPortTypeSOAP11Binding">
      <WL5G3N2:address location="http://172.19.74.94:8909/ClaroClub_Services/Transaction/PuntosClaroClub" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>