Claro.SISACT.WS/Web References/ConsultaNacionalidadWS/DAT_ConsultaNacionalidad_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:com="http://claro.com.pe/eai/ebs/xsd/CommonsException" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:he="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns:client="http://claro.com.pe/esb/ventas/DAT_ConsultaNacionalidad/v1/" xmlns:he1="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://claro.com.pe/esb/data/ventas/consultaNacionalidad/sec/v1/consultarNacionalidad/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="DAT_ConsultaNacionalidad_v1" targetNamespace="http://claro.com.pe/esb/ventas/DAT_ConsultaNacionalidad/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
      <xsd:import schemaLocation="mockDAT_ConsultaNacionalidadSOAP11Binding?WSDL&amp;interface=DAT_ConsultaNacionalidadSOAP11Binding&amp;part=consultarNacionalidad_v1.xsd" namespace="http://claro.com.pe/esb/data/ventas/consultaNacionalidad/sec/v1/consultarNacionalidad/" />
      <xsd:import schemaLocation="mockDAT_ConsultaNacionalidadSOAP11Binding?WSDL&amp;interface=DAT_ConsultaNacionalidadSOAP11Binding&amp;part=claroGenericHeaders_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" />
      <xsd:import schemaLocation="mockDAT_ConsultaNacionalidadSOAP11Binding?WSDL&amp;interface=DAT_ConsultaNacionalidadSOAP11Binding&amp;part=HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
      <xsd:import schemaLocation="mockDAT_ConsultaNacionalidadSOAP11Binding?WSDL&amp;interface=DAT_ConsultaNacionalidadSOAP11Binding&amp;part=CommonsException.xsd" namespace="http://claro.com.pe/eai/ebs/xsd/CommonsException" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarNacionalidadResponseMessage">
    <wsdl:part name="consultarNacionalidadRes" element="ns1:consultarNacionalidadResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNacionalidadRequestMessage">
    <wsdl:part name="consultarNacionalidadReq" element="ns1:consultarNacionalidadRequest" />
  </wsdl:message>
  <wsdl:message name="headerRequest">
    <wsdl:part name="headerRequest" element="he1:HeaderRequest" />
    <wsdl:part name="headerRequest1" element="he:headerRequest" />
  </wsdl:message>
  <wsdl:message name="headerResponse">
    <wsdl:part name="headerResponse1" element="he1:HeaderResponse" />
    <wsdl:part name="headerResponse" element="he:headerResponse" />
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part name="Fault" element="com:IntegrationError" />
  </wsdl:message>
  <wsdl:portType name="DAT_ConsultaNacionalidadPort">
    <wsdl:operation name="consultarNacionalidad">
      <wsdl:input message="client:ConsultarNacionalidadRequestMessage" />
      <wsdl:output message="client:ConsultarNacionalidadResponseMessage" />
      <wsdl:fault name="Fault" message="client:Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DAT_ConsultaNacionalidadSOAP12Binding" type="client:DAT_ConsultaNacionalidadPort">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
    <wsdl:operation name="consultarNacionalidad">
      <soap12:operation soapAction="http://claro.com.pe/esb/ventas/DAT_ConsultaNacionalidad/v1/consultarNacionalidad" style="document" />
      <wsdl:input>
        <soap12:header message="client:headerRequest" part="headerRequest" use="literal" />
        <soap12:header message="client:headerRequest" part="headerRequest1" use="literal" />
        <soap12:body use="literal" parts="consultarNacionalidadReq" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="client:headerResponse" part="headerResponse" use="literal" />
        <soap12:header message="client:headerResponse" part="headerResponse1" use="literal" />
        <soap12:body use="literal" parts="consultarNacionalidadRes" />
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap12:fault use="literal" name="Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DAT_ConsultaNacionalidadSOAP11Binding" type="client:DAT_ConsultaNacionalidadPort">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarNacionalidad">
      <soap11:operation soapAction="http://claro.com.pe/esb/ventas/DAT_ConsultaNacionalidad/v1/consultarNacionalidad" style="document" />
      <wsdl:input>
        <soap11:header message="client:headerRequest" part="headerRequest" use="literal" />
        <soap11:header message="client:headerRequest" part="headerRequest1" use="literal" />
        <soap11:body use="literal" parts="consultarNacionalidadReq" />
      </wsdl:input>
      <wsdl:output>
        <soap11:header message="client:headerResponse" part="headerResponse" use="literal" />
        <soap11:header message="client:headerResponse" part="headerResponse1" use="literal" />
        <soap11:body use="literal" parts="consultarNacionalidadRes" />
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap11:fault use="literal" name="Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DAT_ConsultaNacionalidad_v1">
    <wsdl:port name="DAT_ConsultaNacionalidadSB12" binding="client:DAT_ConsultaNacionalidadSOAP12Binding">
      <soap12:address location="http://127.0.0.1:7001/DAT_ConsultaNacionalidad/DAT_ConsultaNacionalidadSB12" />
    </wsdl:port>
    <wsdl:port name="DAT_ConsultaNacionalidadSB11" binding="client:DAT_ConsultaNacionalidadSOAP11Binding">
      <soap11:address location="http://localhost:8088/mockDAT_ConsultaNacionalidadSOAP11Binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>