Claro.SISACT.WS/Web References/ConsultaNacionalidadWS/mockDAT_ConsultaNacionalidadSOAP11Binding0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/esb/data/generico/responseStatus/v1/" xmlns:tns="http://claro.com.pe/esb/data/generico/responseStatus/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/responseStatus/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ResponseStatus">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="estado" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="descripcionRespuesta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ubicacionError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fecha" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="origen" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>