Claro.SISACT.WS/Web References/WSLineasTecnologiaCliente/LineasTecnologiaCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/message/lineastecnologiacliente/consultarLineasPrePost/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N4="http://claro.com.pe/esb/venta/lineastecnologiacliente/v1/" name="LineasTecnologiaCliente" targetNamespace="http://claro.com.pe/esb/venta/lineastecnologiacliente/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/venta/lineastecnologiacliente/v1/" xmlns:fault="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://claro.com.pe/esb/message/lineastecnologiacliente/consultarLineasPrePost/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_LineasTecnologiaCliente/SRV_LineasTecnologiaCliente/Service/Mediation/MED_LineasTecnologiaCliente?SCHEMA%2FBSS_LineasTecnologiaCliente%2FSRV_LineasTecnologiaCliente%2FResources%2FXSD%2FconsultarLineasPrePost_v1" namespace="http://claro.com.pe/esb/message/lineastecnologiacliente/consultarLineasPrePost/v1/" />
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_LineasTecnologiaCliente/SRV_LineasTecnologiaCliente/Service/Mediation/MED_LineasTecnologiaCliente?SCHEMA%2FBSS_LineasTecnologiaCliente%2FSRV_LineasTecnologiaCliente%2FResources%2FXSD%2FClaroGenericHeaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
      <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_LineasTecnologiaCliente/SRV_LineasTecnologiaCliente/Service/Mediation/MED_LineasTecnologiaCliente?SCHEMA%2FBSS_LineasTecnologiaCliente%2FSRV_LineasTecnologiaCliente%2FResources%2FXSD%2FClaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultarLineasPrePostRequestMessage">
    <WL5G3N0:part name="consultarLineasPrePostRequest" element="WL5G3N1:consultarLineasPrePostRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarLineasPrePostResponseMessage">
    <WL5G3N0:part name="consultarLineasPrePostResponse" element="WL5G3N1:consultarLineasPrePostResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N2:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="requestHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="responseHeaderMessage">
    <WL5G3N0:part name="header" element="WL5G3N3:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultarLineasPrePostPort">
    <WL5G3N0:operation name="consultarLineasPrePost">
      <WL5G3N0:input message="WL5G3N4:consultarLineasPrePostRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:consultarLineasPrePostResponseMessage" />
      <WL5G3N0:fault name="fault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultarLineasPrePostSOAP11Binding" type="WL5G3N4:consultarLineasPrePostPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultarLineasPrePost">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/venta/lineastecnologiacliente/v1/consultarLineasPrePost" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="consultarLineasPrePostRequest" />
        <WL5G3N5:header message="WL5G3N4:requestHeaderMessage" part="header" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="consultarLineasPrePostResponse" />
        <WL5G3N5:header message="WL5G3N4:responseHeaderMessage" part="header" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N5:fault use="literal" name="fault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="MED_LineasTecnologiaCliente">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="MED_LineasTecnologiaCliente_SOAP11" binding="WL5G3N4:consultarLineasPrePostSOAP11Binding">
      <WL5G3N5:address location="http://172.17.26.51:21000/BSS_LineasTecnologiaCliente/SRV_LineasTecnologiaCliente/Service/Mediation/MED_LineasTecnologiaCliente" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>